.Content{
    width: 60vw;
    height: 20vw ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    overflow: auto ;
    display: flex;
    flex-direction: column;

    padding: 10px;
    text-align: center;
    margin:auto;
    margin-bottom: 2vw;
    position: relative;
    /* margin-left: 25vw; */
    border: solid rgb(157, 167, 162) 6px;
    border-radius: 30px;

}

#deleteContent{
    position: absolute;
    /* top: 2px; */
    /* right: 2px; */
    /* align-items: flex-start; */
    justify-items: flex-end;
    /* align-self: flex-end; */

}
#likeCount {
    position:absolute;
    bottom:20px;
}
div {
    display: flex;
    flex-direction: column;
}
h1, h2 {
    align-self: center;
}

