

.content-container{
    
    font-family: 'Courier New', Courier, monospace;
    /* font-size: 1em; */
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    padding: 10px;
    text-align: center;
    margin:auto;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 20px;
    box-shadow: 5px 10px #888888;

    /* margin-bottom: 2vw; */
    /* position: relative; */
    /* width:45vw; */
    /* height:45vw; */
    /* margin-left: 25vw; */ 
    transition: all .2s ease-in-out; 
}
.eachcontent{
    background-color: rgb(157, 167, 162);
    box-shadow: #999;
    /* border: solid rgb(157, 167, 162) 2px; */
    border-radius: 15px;
    width: 40vw;
    height: 30vw ;
    overflow: auto ;
    /* margin:20px; */
    /* display: flex; */
    /* flex-direction: row; */
}

.buttons{
    /* position:absolute; */
    display: flex;
    justify-content:space-evenly;
    align-items:baseline;
    /* bottom: -24vw; */
    border: solid rgb(157, 167, 162) 2px;
    width: 40vw;
    height: 5vw;
    border-radius: 15px;
    align-items: center;
    /* margin: 20px; */
}
.content-container:hover { 
    transform: scale(1.1); 
}

#deleteContent{
    /* position: absolute; */
    /* top: 2px; */
    /* right: 2px; */
    /* align-items: flex-start; */
    justify-items: flex-end;
    /* align-self: flex-end; */
    content: 'Remove';
    color:rgb(66, 77, 72);
    cursor: pointer;
    /* position:inherit; */
    /* right: calc(15% - 30px); */
    /* top: calc(100vh - 85vh - 33px); */
    background:white;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    /* padding:10px; */

}
#likeCount {
    /* position:absolute; */
    bottom:20px;
}


.audiocontent{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin:30px;
}


.videocontent{
    height:29.8vw;
}

.form-control{
    height:30vw;

}

.likebutton{ 
    border: none;
    font-size: larger;

}

.sharebutton{
    border: none;
    font-size: 1.5rem;
    color:rgb(157, 167, 162);
}

.sharebutton:hover{
    transform: scale(1.1); 
}

.imagesize img{

    width: 40vw;
}

