.contentform {
    display:flex;
    width:100vw;
    height: 20vw;
    /* left:50%; */
    /* margin-left: 25vw; */
    border: solid rgb(157, 167, 162) 6px;
    padding:15px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
    justify-content:center;
}

.submitcontent {
    width:20vw;
    /* display: flex; */
    align-items: center;
    margin-left: 10vw;

}

.loginform {
    display:flex;
    width: 30vw;
    height: 20vw;
    margin-left: 45vw;
}