#addPlan {
    width: 25vw;
    height: 20vw;
    padding: 10px;
    /* margin: 2vw auto; */
    /* background-color: mintcream; */
    border: solid rgb(157, 167, 162) 6px;
    border-radius: 30px; 
    margin: 2vw;

}

