.plan{
    /* background-color: mintcream; */
    width: 55vw;
    height: 20vw ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5em;
    overflow: auto ;
    display: flex;
    padding: 10px;
    text-align: center;
    /* margin:auto; */
    margin: 2vw;
    position: relative;
    border: solid rgb(157, 167, 162) 6px;
    border-radius: 30px;
}

.plan button{
    position: absolute;
    /* top: 2px; */
    /* right: 2px; */
    /* align-items: flex-start; */
    justify-items: flex-end;
    /* align-self: flex-end; */

}
div {
    display: flex;
    flex-direction: column;
}
h1, h2 {
    align-self: center;
}

.plan :hover {
    background-color: lightgray;
}
