.container {
    display:flex;
    width:65vw;
    margin-left: 25vw;
    border: solid rgb(157, 167, 162) 6px;
    padding:15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 30px;
}

.container .planview-counter>p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 18vw;
}