.plan{
    /* background-color: mintcream; */
    width: 60vw;
    height: 20vw ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.5em;
    overflow: auto ;
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* flex-direction: row; */
    padding: 10px;
    /* margin:auto; */
    margin: 2vw;
    position: relative;
    border: solid rgb(157, 167, 162) 6px;
    border-radius: 30px;
    /* margin-left: 15vw; */
}
.plan div {
    /* display: flex; */
    justify-content: center;
    /* height: 100%; */
    align-content: center;
}

.plan button{
    position: absolute;
    top: 2px; 
}
.plantext {
    cursor: pointer;
    text-align: center;
    width: 100%;
}
.plantext :hover {
    background-color:rgb(107, 150, 128);
}

.deleteplan{
    content: 'x';
    color:rgb(66, 77, 72);
    cursor: pointer;
    /* position:inherit; */
    /* right: calc(15% - 30px); */
    /* top: calc(100vh - 85vh - 33px); */
    background: #999;
    width: 25px;
    height: 25px;
    border-radius: 30%;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999;
    font-size: 20px;
    }