body {
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  /* background-color: #FCF8E8; */
  background-color: #ECB390;
}


h1 {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}

h2 {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}



/* https://unsplash.com/photos/82TpEld0_e4?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */

/* https://unsplash.com/photos/Q7kPkG7XzBg?utm_source=unsplash&utm_medium=referral&utm_content=creditShareLink */