body {
  margin: 0 auto;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  /* background-color: #FCF8E8; */
  background-color: rgb(213, 238, 246);
}


h1 {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}

h2 {
  text-align: center;
  margin-top: 1em;
  padding-top: 1em;
}




